    <div class="center">
   <h1 id="write"></h1>
       <div class="chart" id="collapsable-example"></div>
    </div>
    <script type="text/javascript">

   document.getElementById("write").innerHTML = window.location.search;
   var newUrl = window.location.search;
            
    </script>
    
    <script type="text/javascript" src="http://code.jquery.com/jquery-1.7.2.min.js"></script>

	
    <script src="/js/addr.js">
        
    </script>
    <script src="/js/bal.js"></script>

    <script src="/vendor/raphael.js"></script>
    <script src="/js/Treant.js"></script>
    
    <script src="/vendor/jquery.min.js"></script>
    <script src="/vendor/jquery.easing.js"></script>
    
    
    <script src="/js/collapsable.js"></script>
    <script>
        tree = new Treant( chart_config );
    </script>
